<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" padding>
   

   <!--lista con bootstrap -->
  <div class="col-md-6" *ngIf="!mostrar_formulario">
      <h2>Lista Nota</h2>  
      <ul class="list-group">
          <li class="list-group-item" (click)="verNota(n)" *ngFor="let n of misnotas">
            {{n.id}}. {{n.titulo}}
          </li>
        </ul>
        <a class="btn btn-primary btn-block" (click)="agregarNota()">Nueva Nota</a>
  </div>

  <div class="col-md-6" *ngIf="mostrar_formulario">
    <h2>Nueva Nota</h2>  
    <input type="text" class="form-control" placeholder="Titulo Nota" [(ngModel)]="nota.titulo" />
    <br/>
    <textarea class="form-control" placeholder="Descripcion" [(ngModel)]="nota.descripcion"></textarea>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-danger btn-block" (click)="eliminarNota()" *ngIf="editing">Eliminar</a>
        </div>
      <div class="col-md-4">
          <a class="btn btn-default btn-block" (click)="cancelar()">Cancelar</a>
      </div>
      
      <div class="col-md-4">
          <a class="btn btn-primary btn-block" (click)="crearNota()">Guardar</a>
      </div>

      
    </div>
  </div>

 


</div>